Make table with defense and offensive points per team per season

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split

%matplotlib inline

compact_result_season = pd.read_csv('./data/DataFiles/RegularSeasonCompactResults.csv')

#import the file with team IDs
team_ids = pd.read_csv('./data/DataFiles/Teams.csv')

Merge Team IDs and Team Names

In [4]:
named_test = pd.merge(compact_result_season, team_ids[['TeamID', 'TeamName']], left_on='WTeamID', right_on='TeamID')

In [7]:
named_test.columns = [u'Season', u'DayNum', u'WTeamID', u'WScore', u'LTeamID', u'LScore',
       u'WLoc', u'NumOT', u'TeamID', u'WTeamName']

named_test = named_test.drop('TeamID', axis=1)

named_test = pd.merge(named_test, team_ids[['TeamID', 'TeamName']], left_on='LTeamID', right_on='TeamID')

named_test.columns = [   u'Season',    u'DayNum',   u'WTeamID',    u'WScore',   u'LTeamID',
          u'LScore',      u'WLoc',     u'NumOT', u'WTeamName',
          u'TeamID',  u'LTeamName']

In [9]:
named_test.drop('TeamID', axis=1, inplace=True)

In [11]:
named_test.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WTeamName,LTeamName
0,1985,20,1228,81,1328,64,N,0,Illinois,Oklahoma
1,1985,33,1228,73,1328,70,H,0,Illinois,Oklahoma
2,1990,82,1112,78,1328,74,H,0,Arizona,Oklahoma
3,2011,34,1112,83,1328,60,H,0,Arizona,Oklahoma
4,1985,118,1242,82,1328,76,H,0,Kansas,Oklahoma

In [19]:
named_test = named_test.sort_values(['WTeamID']).reset_index()

In [22]:
named_test.drop('index', axis=1, inplace=True)

In [23]:
named_test.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WTeamName,LTeamName
0,2015,49,1101,65,1354,59,N,0,Abilene Chr,S Carolina St
1,2016,25,1101,72,1197,62,N,0,Abilene Chr,Florida A&M
2,2014,94,1101,87,1223,81,H,0,Abilene Chr,Houston Bap
3,2015,120,1101,83,1223,71,H,0,Abilene Chr,Houston Bap
4,2016,92,1101,79,1223,72,H,0,Abilene Chr,Houston Bap

In [43]:
maryland_wins = named_test[named_test['WTeamID'] ==1268]

In [45]:
maryland_wins_2016 = maryland_wins[maryland['Season'] == 2016]

In [48]:
umd_2016_ppg = maryland_wins_2016['WScore'].mean()
umd_2016_ppga = maryland_wins_2016['LScore'].mean()