Data Imports

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

compact_result_season = pd.read_csv('./data/DataFiles/RegularSeasonCompactResults.csv')

In [5]:
compact_result_season.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [7]:
compact_result_season.Season.describe()

count    150684.000000
mean       2002.127107
std           9.508740
min        1985.000000
25%        1994.000000
50%        2003.000000
75%        2010.000000
max        2017.000000
Name: Season, dtype: float64

In [8]:
#import the file with team IDs
team_ids = pd.read_csv('./data/DataFiles/Teams.csv')
team_ids.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [11]:
#alabama = teamid 1104
bama_wins = compact_result_season.loc[compact_result_season['WTeamID'] == 1104]
bama_loss = compact_result_season.loc[compact_result_season['LTeamID'] == 1104]

In [15]:
bama_wins.shape

(628, 8)

In [14]:
bama_loss.shape

(380, 8)

Groupby command to pull up wins

In [19]:
wins_mat = compact_result_season.groupby('WTeamID').size().to_frame()
loss_mat = compact_result_season.groupby('LTeamID').size().to_frame()

In [26]:
simplee_prop = (wins_mat)/(wins_mat+loss_mat)

SyntaxError: invalid syntax (<ipython-input-26-b1120f1f1aa5>, line 1)

ValueError: Length of ascending (2) != length of by (1)

In [ ]:
simplee_prop.sort_values(0, ascending=[1, 0])